<!DOCTYPE html>
<head>
    <!--load anglular js and angular material UI -->
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1" />

    <!--load anglular js and angular material UI -->
    <link rel="stylesheet" href="assets/node_modules/angular-material/angular-material.css">


    <script src="assets/node_modules/angular/angular.js"></script>
    <script src="assets/node_modules/angular-aria/angular-aria.js"></script>
    <script src="assets/node_modules/angular-animate/angular-animate.js"></script>
    <script src="assets/node_modules/angular-material/angular-material.js"></script>
    <script src="assets/node_modules/angular-messages/angular-messages.js"></script>
    <script src="assets/node_modules/ngstorage/ngStorage.js"></script>
    <script src="assets/node_modules/angular-utils-pagination/dirPagination.js"></script>
    <script src="assets/jQuery/jquery-1.11.3.min.js"></script>
    <!-- load the css page for the application and corresponding page -->
    <link rel="stylesheet" href="assets/css/signIn.css">
    <link rel="stylesheet" href="assets/css/collegeSearch.css">

    <script src="scripts/collegeSearch.js"></script>

    <!--load the api and config files-->
    <script src="scripts/services/config.js"></script>
    <script src="scripts/services/collegeSearchapi.js"></script>
    <script src="scripts/services/authService.js"></script>
    <script src="scripts/services/userService.js"></script>
    <script src="scripts/services/searchService.js"></script>
    <script src="scripts/services/navigationService.js"></script>

    <!-- load the header files since the controller is on this page-->
    <script src="scripts/header/headerController.js"></script>
    <!--load the controller and corresponding scripts -->

    <script src="scripts/changePassword/changePasswordController.js"></script>
</head>


<html>

<title>Change Password</title>
<div ng-app="CollegeSearch">
    <div id="header" header></div>

    <hr>

    <form name="changePasswordForm" ng-controller="changePasswordController" class="listdemoBasicUsage">

        <md-toolbar layout="row" class="md-hue-3" class="">
            <div class="md-toolbar-tools">
                <span>{{page.Title}} - {{page.Message}}</span>
            </div>
        </md-toolbar>

            <md-input-container flex-gt-sm >
                <!-- Password -->

                <input type="password" id="passwordCreation" name="passwordChangePassword" placeholder="Enter a new password"  ng-model="changePassword.passwordChangePassword" required/>

            </md-input-container>
            <br>
            <md-input-container flex-gt-sm>
                <!-- GPA Box-->
                <input type="password" id="verifyPasswordCreation" name="changePasswordverifyPassword" required placeholder="Verify Password" ng-model="changePassword.changePasswordverifyPassword" password-match="changePassword.passwordChangePassword"/>
                <div ng-messages="changePasswordForm.changePasswordverifyPassword.$error">
                    <div ng-message="match">
                        Passwords don't match
                    </div>
                </div>
            </md-input-container>
<br>
        <!-- Flat button with ripple -->
        <md-button  class="md-raised" ng-disabled="changePasswordForm.$invalid" style='text-align:center' ng-click="sendEmailResetPassword()">
            Change Password
        </md-button>

    </form>
</div>

</html>