<div id="fullRecord">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{college.name}}</h2>
            </div>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-icon="close-box" aria-label="Close dialog"></md-icon>
        </md-button>
        </md-toolbar>
            <span flex></span>
            <div ng-if='college.address!==undefined'><p> <a target="_blank" href={{college.googleMapsAddress}}>{{college.address}} </a></p></div>
            <div ng-if='college.address==undefined'> <p>Address unavailable</p></div>
            <div ng-if='college.URL!="N/A" && college.phoneNumber==undefined'>  <a target="_blank" href="{{collegeURL}}" >{{college.URL}}</a>Number Unavailable</div>
            <div ng-if='college.URL=="N/A" && college.phoneNumber==undefined'>Website unavailable Number Unavailable</div>
            <div ng-if='college.URL=="N/A" && college.phoneNumber!=undefined'>Website unavailable {{college.phoneNumber}}</div>
            <div ng-if='college.phoneNumber!=undefined && college.URL!="N/A"'> <a target="_blank" href="{{college.URL}}" >{{college.URL}}</a> {{college.phoneNumber}}</div>
            <div ng-if='college.phoneNumber==undefined'><p>Number unavailable</p></div>
            <div ng-if='college.population!==undefined'><p>Students: {{college.population}}</p></div>
            <div ng-if='college.population==undefined'><p>Student count unavailable</p></div>

    <div class="favoriteButton">
        <md-button>FAVORITE</md-button>
    </div>
        </div>