<div id="fullRecord">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{college.name}}</h2>
            <md-button class="md-icon-button" ng-click="hide()">
                <md-icon md-svg-icon="close-box" aria-label="Close dialog"></md-icon>
            </md-button>
            </div>
        </md-toolbar>
            <span flex></span>
            <div ng-if='college.address!==undefined'><p> <a target="_blank" href={{college.googleMapsAddress}}>{{college.address}} </a></p></div>
            <div ng-if='college.address==undefined'> <p>Address unavailable</p></div>
            <div ng-if='college.URL!="N/A" && college.phoneNumber==undefined'>  <a target="_blank" href="{{collegeURL}}" >{{college.URL}}</a>Number Unavailable</div>
            <div ng-if='college.URL=="N/A" && college.phoneNumber==undefined'>Website unavailable Number Unavailable</div>
            <div ng-if='college.URL=="N/A" && college.phoneNumber!=undefined'>Website unavailable {{college.phoneNumber}}</div>
            <div ng-if='college.phoneNumber!=undefined && college.URL!="N/A"'> <a target="_blank" href="{{college.URL}}" >{{college.URL}}</a> {{college.phoneNumber}}</div>
            <div ng-if='college.phoneNumber==undefined'><p>Number unavailable</p></div>
            <div ng-if='college.population!==undefined'><p>Students: {{college.population}}</p></div>
            <div ng-if='college.population==undefined'><p>Student count unavailable</p></div>
            <div ng-if="college.GPAvalue!=undefined">GPA: {{college.GPAvalue}}</div>
            <div ng-if="college.GPAvalue==undefined">GPA not available</div>
            <div ng-if="college.WritingScore==undefined">SAT Writing Score Unavailable</div>
            <div ng="if=college.WritingScore!=undefined">{{college.WritingScore}}</div>
    <div ng-if="college.ReadingScore==undefined">SAT Reading Score Unavailable</div>
    <div ng="if=college.ReadingScore!=undefined">{{college.ReadingScore}}</div>
    <div ng-if="college.MathScore==undefined">SAT Math Score Unavailable</div>
    <div ng="if=college.MathScore!=undefined">{{college.MathScore}}</div>
    <div ng-if="college.ACTscore==undefined">ACT Score Unavailable</div>
    <div ng="if=college.ACTscore!=undefined">{{college.ACTscore}}</div>
            <div ng-if='college.CommonApp==1'><a target="_blank" href="https://www.commonapp.org/">Common Application</a></div>
    <div class="favoriteButton" >
        <md-button class="md-raised" ng-show="college.favorited==false && userService.isLoggedin()" ng-click="addFavorite(college.instIDs, $index)">FAVORITE</md-button>
    </div>
    <div class="favoriteButton" >
        <md-button class="md-raised"  ng-show="college.favorited&& userService.isLoggedin()" ng-click="removeFavorite(college.instIDs, $index)">UNFAVORITE</md-button>
    </div>
</div>

