<head>
<link rel="stylesheet" href="assets/css/header.css">
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico?3/6/2016">
<link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>
<script src="scripts/signIn/signIn.js"></script>
    <script src="scripts/signIn/signInController.js"></script>

<body ng-controller="headerController">
 <a href ng-click="logoClick('searchPage.html')"><img id="collegeSearchicon"  ng-Src="assets/icon/collegeSearch.png" atl="CollegeSearch" ></a>



 <md-button class="accountCreation"><md-icon md-svg-icon="help-circle" style="width:40px; height:40px"><md-tooltip md-direction="bottom">
     Click to view Help
 </md-tooltip></md-icon>
 </md-button>
 <md-button class="md-raised accountCreation"  ng-hide='userService.isLoggedin()' ng-click="showLoginPage($event)">Create Account/Login
 </md-button>
<div class="accountCreation">
    <md-menu>
         {{userService.getUserName()}}
        <md-button aria-label="Open Login Options" id="accountButton"  ng-show='userService.isLoggedin()' ng-click="openMenu($mdOpenMenu, $event)">

            <md-icon  md-svg-icon="account-location" style="width:40px; height:40px;" class="md-icon-button"></md-icon>
        </md-button>
        <md-menu-content width="4">
            <md-menu-item>
                <md-button id="accountButton" ng-click="userPreferences('userPreferences.html')">

                    <md-icon md-svg-icon="settings" md-menu-align-target></md-icon>
                    Account Preferences
                </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
                <md-button ng-click="logout()">
                    <md-icon md-svg-icon="logout"></md-icon>
                    Log Out
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>


    </div>
    </body>
    <br>