

    <link rel="stylesheet" href="assets/css/header.css">
    <script src="scripts/signIn/signIn.js"></script>
    <script src="scripts/signIn/signInController.js"></script>

<div ng-controller="headerController">
<a ng-href="searchPage.html"> <img id="collegeSearchicon"  ng-Src="assets/icon/collegeSearch.png" atl="CollegeSearch"> </a>

<md-button class="md-button accountCreation"  ng-hide='userService.isLoggedin()' ng-click="showLoginPage()">Create Account/Login</md-button>

    <md-menu>
        <md-button aria-label="Open Login Options"  ng-show='userService.isLoggedin()' class= "accountCreation" ng-click="openMenu($mdOpenMenu, $event)">
            <md-icon  md-svg-icon="account-location" style="width:40px; height:40px;" class="md-con-button accountOptions"></md-icon>
        </md-button>
        <md-menu-content width="4">
            <md-menu-item>
                <md-button ng-click="ctrl.redial($event)">
                    <md-icon md-svg-icon="settings" md-menu-align-target></md-icon>
                    More Info
                </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
                <md-button ng-click="logout()">
                    <md-icon md-svg-icon="logout"></md-icon>
                    Log Out
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
    </div>