
<ul class="pagnaton" ng-f="1 <pages.length">
<md-button ng-if="boundaryLinks"  ng-class="{ disabled : pagination.current == 1 }" ng-clck="setCurrent(pagination.current-1)">
    <md-icon md-svg-icon="arrow-left-bold-circle-outline"></md-icon>
</md-button>
<label>Page {{currentPage}}</label>
<md-button ng-if="boundaryLinks"  ng-class="{ disabled : pagination.current == pagination.last }" ng-clck="setCurrent(pagination.current+1)">
    <md-icon md-svg-icon="arrow-right-bold-circle-outline"></md-icon>
</md-button>
</ul>