<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1" />
    <!--load anglular js and angular material UI -->
    <link rel="stylesheet" href="assets/node_modules/angular-material/angular-material.css">
    <script src="assets/node_modules/angular/angular.js"></script>
    <script src="assets/node_modules/angular-aria/angular-aria.js"></script>
    <script src="assets/node_modules/angular-animate/angular-animate.js"></script>
    <script src="assets/node_modules/angular-material/angular-material.js"></script>
    <script src="assets/node_modules/angular-messages/angular-messages.js"></script>
    <script src="assets/node_modules/angular-messages/angular-messages.js"></script>
    <script src="assets/node_modules/ngstorage/ngStorage.js"></script>
    <script src="assets/node_modules/angular-utils-pagination/dirPagination.js"></script>

    <!-- material design javascript -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,900italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="assets/jQuery/jquery-1.11.3.min.js"></script>

    <!-- load the css page for the application and corresponding page -->
    <link rel="stylesheet" href="assets/css/searchResults.css">
    <link rel="stylesheet" href="assets/css/collegeSearch.css">

    <!--load the module and config files-->
    <script src="scripts/collegeSearch.js"></script>

    <!--load the api and config files-->
    <script src="scripts/services/config.js"></script>
    <script src="scripts/services/collegeSearchapi.js"></script>
    <script src="scripts/services/navigationService.js"></script>
    <script src="scripts/services/userService.js"></script>
    <script src="scripts/services/searchService.js"></script>

    <!-- load the header files since the controller is on this page-->
    <script src="scripts/header/headerController.js"></script>


    <!--load the controller and corresponding scripts -->
    <script src="scripts/searchPage/searchPage.js"></script>
    <script src="scripts/searchResults/searchResults.js"></script>
    <script src="scripts/searchResults/searchResultsController.js"></script>
</head>
<div ng-app="CollegeSearch">


    <div id="header" header></div>

        <div ng-controller="resultsController">
            <hr>
            <md-progress-circular show-focus="results.loading" class="md-hue-2 md-busy " md-diameter="100" ng-show="results.loading" md-mode="indeterminate" style="margin:auto"></md-progress-circular>
                            <md-button class="refine button searchButton" ng-click="toggleSearch(CollegeInfo)"
                                       class="md-primary">
                                Refine Search
                            </md-button>

                            <md-sidenav class="md-sidenav-left md-whiteframe-z2 sideNavResult" md-component-id="searchBar">
                                <form name="CollegeInfo" id="additionalinfo">
                                <md-button ng-click="close()"
                                           class="md-primary">
                                    Search
                                    </md-button>
                                    <div id="search" flex="5"search></div>
                                    </form>
                                </md-sidenav>

            <div class="gridOptons">   <md-input-container>
                <label>Filter</label>
                <md-select ng-model="filterOptions">
                    <md-option ng-repeat="filterOption in parameter.filterOptions" value="{{filterOption.filterOption}}">
                        {{filterOption.filterOption}}
                    </md-option>
                </md-select>
            </md-input-container>

                <md-input-container>
                    <label>Size</label>
                    <md-select ng-model="pageSize">
                        <md-option ng-repeat="pageSize in parameter.pageSizes" value="{{pageSize.pageSize}}">
                            {{pageSize.pageSize}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="navigation.html">

                </dir-pagination-controls>
            </div>
            <br>
            <br>
            <br>

                        <!--
                        Pageniation is used here. The directive is dir-paginate
                        ng-if determines if specific parameters exist and what to display
                     -->
                        <span dir-paginate="college in colleges|itemsPerPage:pageSize" current-page="currentPage" ng-bind-html-unsafe="college.name" class="searchResults" searchResults  >
                           <h2> {{college.name }}</h2>
                            <div ng-if="college.image!=undefined"><img src="{{college.image}}.jpg" alt="{{college.name}}" style="width:200px;height:200px; float:left"></div>
                            <div ng-f="college.image==undefined"><label class="collegeLabel" collegeLetter></div>
                            <div ng-if='college.address!==undefined'><p>{{college.address}}</p></div>
                            <div ng-if='college.address==undefined'> <p>Address unavailable</p></div>
                           <div ng-if='college.URL!=undefined && college.phoneNumber==undefined'>  <a href={{college.googleMapsAddress}} >{{college.URL}}</a> Number Unavailable</div>
                            <div ng-if='college.URL==undefined && college.phoneNumber==undefined'>Website unavailable Number Unavailable</div>
                            <div ng-if='college.URL==undefined && college.phoneNumber!=undefined'>Website unavailable {{college.phoneNumber}}</div>
                            <div ng-if='college.phoneNumber!=undefined && college.URL!=undefined'> <a href={{college.googleMapsAddress}} >{{college.URL}}</a> {{college.phoneNumber}}</div>
                            <div ng-if='college.phoneNumber==undefined'><p>Number unavailable</p></div>
                            <div ng-if='college.population!==undefined'><p>Students: {{college.population}}</p></div>
                            <div ng-if='college.population==undefined'><p>Student count unavailable</p></div>
                            <hr>
                        </span>



    </div>
    </div>
</html>
<script>
</script>