<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1" />
    <!--load anglular js and angular material UI -->
    <link rel="stylesheet" href="assets/node_modules/angular-material/angular-material.css">
    <script src="assets/node_modules/angular/angular.js"></script>
    <script src="assets/node_modules/angular-aria/angular-aria.js"></script>
    <script src="assets/node_modules/angular-animate/angular-animate.js"></script>
    <script src="assets/node_modules/angular-material/angular-material.js"></script>
    <script src="assets/node_modules/angular-messages/angular-messages.js"></script>
    <script src="assets/node_modules/angular-messages/angular-messages.js"></script>
    <script src="assets/node_modules/ngstorage/ngStorage.js"></script>
    <script src="assets/node_modules/angular-utils-pagination/dirPagination.js"></script>

    <!-- material design javascript -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="assets/jQuery/jquery-1.11.3.min.js"></script>

    <!-- load the css page for the application and corresponding page -->
    <link rel="stylesheet" href="assets/css/searchResults.css">
    <link rel="stylesheet" href="assets/css/collegeSearch.css">

    <!--load the module and config files-->
    <script src="scripts/collegeSearch.js"></script>

    <!--load the api and config files-->
    <script src="scripts/services/config.js"></script>
    <script src="scripts/services/collegeSearchapi.js"></script>
    <script src="scripts/services/userService.js"></script>
    <script src="scripts/services/searchService.js"></script>

    <!-- load the header files since the controller is on this page-->
    <script src="scripts/header/headerController.js"></script>


    <!--load the controller and corresponding scripts -->
    <script src="scripts/searchResults/searchResults.js"></script>
    <script src="scripts/searchResults/searchResultsController.js"></script>
</head>
<div ng-app="CollegeSearch">


    <div id="header" header></div>

        <div ng-controller="resultsController">
            <hr>
            <md-progress-circular show-focus="results.loading" class="md-hue-2 md-busy searchButton" md-diameter="100" ng-show="results.loading" md-mode="indeterminate" style="margin:auto"></md-progress-circular>
                            <md-button class="refine button" ng-click="toggleSearch(CollegeInfo)"
                                       class="md-primary">
                                Refine Search
                            </md-button>

                            <md-sidenav class="md-sidenav-left md-whiteframe-z2 sideNavResult" md-component-id="searchBar">
                                <form name="CollegeInfo" id="additionalinfo">
                                <md-button ng-click="close()"
                                           class="md-primary">
                                    Search
                                    </md-button>


                                                <md-card class="searchPageBox">
                                                    <md-input-container class="md-block searchPageBox flex-gt-sm">
                                                        <label>GPA</label>
                                                        <input md-maxlength="3" name="gpa" ng-model="parameter.gpa">
                                                        <div ng-messages="CollegeInfo.gpa.$error">
                                                            <div ng-message="md-maxlength">Please type in a valid GPA out of 4.0</div>
                                                        </div>
                                                    </md-input-container>
                                                </md-card>

                                    <md-card class="searchPageBox">
                                        <!-- ACT Box-->
                                        <md-input-container class="md-block searchPageBox flex-gt-sm">
                                            <label>ACT Composite Score</label>
                                            <input type="number" step="0.1" name="actcomposite" ng-model="parameter.actcomposite" min="0"
                                                   max="36" ng-pattern="/^[0-9]{1,2}$/" />
                                            <div ng-messages="CollegeInfo.actcomposite.$error" multiple md-auto-hide="false">
                                                <div ng-message="min">
                                                    You can't have a negative sore
                                                </div>
                                                <div ng-message="pattern">
                                                    You need to enter a two digit number
                                                </div>
                                                <div ng-message="max">
                                                    You can't have higher than a 36
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </md-card>

                                                    <md-card class="searchPageBox">
                                                        <!-- High School Percentile Box-->
                                                        <md-input-container class="md-block searchPageBox" flex-gt-sm>
                                                            <md-input-container>
                                                                <label>Hgh School Percentle</label>
                                                                <md-select ng-model="parameter.HighSchoolPercentile">
                                                                    <md-option ng-repeat="percentage in parameter.percentages" value="{{percentage.percentage}}">
                                                                        {{percentage.percentage}}
                                                                    </md-option>
                                                                </md-select>
                                                            </md-input-container>
                                                        </md-input-container>
                                                    </md-card>

                                    <md-card class="searchPageBox">
                                        <!-- ACT Box-->
                                        <md-input-container class="md-block searchPageBox" flex-gt-sm>

                                            <label>Math Score</label>
                                            <input type="number" id="MathScore" name="MathScore" ng-model="parameter.MathScore" min="0"
                                                   max="800" ng-pattern="/^[0-9]{1,3}$/" *step="1.0"*/>
                                            <div ng-messages="CollegeInfo.MathScore.$error" multiple md-auto-hide="false">
                                                <div ng-message="min">
                                                    You can't have a negative sore
                                                </div>
                                                <div ng-message="pattern">
                                                    You need to enter a three digit number
                                                </div>
                                                <div ng-message="max">
                                                    You can't have higher than an 800
                                                </div>
                                            </div>
                                        </md-input-container>

                                    </md-card>
                                    <md-card class="searchPageBox">
                                        <!-- Math Score -->
                                        <md-input-container class="md-block searchPageBox" flex-gt-sm>

                                            <label>Writing Score</label>
                                            <input type="number" name="WritingScore" ng-model="parameter.WritingScore" ng-pattern="/^[0-9]{1,3}$/" min="0"
                                                   max="800" ng-pattern="/^[0-9]{1,3}$/" *step="1.0"*/>
                                            <div ng-messages="CollegeInfo.WritingScore.$error" multiple md-auto-hide="false">
                                                <div ng-message="min">
                                                    You can't have a negative sore
                                                </div>
                                                <div ng-message="pattern">
                                                    You need to enter a three digit number
                                                </div>
                                                <div ng-message="max">
                                                    You can't have higher than an 800
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </md-card>

                                    <md-card class="searchPageBox">
                                        <!-- Reading Score-->
                                        <md-input-container class="md-block searchPageBox" flex-gt-sm>

                                            <label>Reading Score</label>
                                            <input type="number" name="ReadingScore" id="ReadingScore" ng-model="parameter.ReadingScore"min="0"
                                                   max="800" ng-pattern="/^[0-9]{1,3}$/" *step="1.0"*/>
                                            <div ng-messages="CollegeInfo.ReadingScore.$error" multiple md-auto-hide="false">
                                                <div ng-message="min">
                                                    You can't have a negative sore
                                                </div>
                                                <div ng-message="pattern">
                                                    You need to enter a three digit number
                                                </div>
                                                <div ng-message="max">
                                                    You can't have higher than an 800
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </md-card>


                                                    <div layout="title2" layout-align="center center">
                                                        Institution Characteristics
                                                    </div>
                                                        <!-- Institution Name-->
                                                        <div class="mdl-card mdl-shadow--2dp searchPageBox">

                                                            <md-card class="searchPageBox">
                                                                <!-- Reading Score-->
                                                                <md-input-container class="md-block searchPageBox" flex-gt-sm>

                                                                    <label>Institution Name</label>
                                                                    <input type="text" id="InstitutionName" name="InstitutionName" ng-model="parameter.InstitutionName"/>

                                                                </md-input-container>
                                                            </md-card>



                                                        <!-- State Name -->
                                                        <md-card class="searchPageBox">
                                                            <!-- State Percentile Box-->
                                                            <md-input-container>
                                                                <label>State</label>
                                                                <md-select ng-model="parameter.userState">
                                                                    <md-option ng-repeat="state in parameter.states" value="{{state.fullName}}">
                                                                        {{state.fullName}}
                                                                    </md-option>
                                                                </md-select>
                                                            </md-input-container>
                                                        </md-card>


                                                            <md-card class="searchPageBox">
                                                                <!-- Zip Code-->
                                                                <md-input-container class="md-block searchPageBox" flex-gt-sm>

                                                                    <label>Zip Code</label>
                                                                    <input type="text" name="zipcode" id="zipCode" ng-model="parameter.zipcode" ng-pattern="/^[0-9]{1,5}$/"/>
                                                                    <div ng-messages="CollegeInfo.zipcode.$error">
                                                                        <div ng-message="pattern">Not a valid zip code</div>
                                                                    </div>
                                                                </md-input-container>
                                                            </md-card>


                                                        <md-card class="searchPageBox">
                                                            <!-- Full Address-->
                                                            <md-input-container class="md-block searchPageBox" flex-gt-sm>

                                                                <label>Full Address</label>
                                                                <input type="text" name="fullAddress" id="FullAddress" ng-model="parameter.fullAddress"/>

                                                            </md-input-container>
                                                        </md-card>


                                                        <!-- Acceptance Rate-->
                                                        <md-card class="searchPageBox">
                                                            <md-input-container>
                                                                <label>Acceptance Rate</label>
                                                                <md-select ng-model="parameter.acceptanceRate">
                                                                    <md-option ng-repeat="percentage in parameter.percentages" value="{{percentage.percentage}}">
                                                                        {{percentage.percentage}}
                                                                    </md-option>
                                                                </md-select>
                                                            </md-input-container>
                                                        </md-card>
                                                        <!-- Retention Rate-->
                                                        <md-card class="searchPageBox">
                                                            <md-input-container>
                                                                <label>Retention Rate</label>
                                                                <md-select ng-model="parameter.retentonRate">
                                                                    <md-option ng-repeat="percentage in parameter.percentages" value="{{percentage.percentage}}">
                                                                        {{percentage.percentage}}
                                                                    </md-option>
                                                                </md-select>
                                                            </md-input-container>
                                                        </md-card>



                                                    <!-- Institution Type Rate -->
                                                    <md-card class="searchPageBox">
                                                        <md-input-container>
                                                            <label>Instituton Type</label>

                                                            <md-select ng-model="parameter.institutionType">

                                                                <md-option value="None">None</md-option>
                                                                <md-option value="Public">Public</md-option>
                                                                <md-option value="Private">Private</md-option>
                                                            </md-select>
                                                        </md-input-container>
                                                    </md-card>

                                                            <!-- Student Population -->
                                                            <md-card class="searchPageBox">
                                                                <!-- Full Address-->
                                                                <md-input-container class="md-block searchPageBox" flex-gt-sm>

                                                                    <label>Student Population</label>
                                                                    <input type="number" id="studentpopulation" name="StudentPopulation" ng-model="parameter.studentPopulation" min="0"/>
                                                                    <div ng-messages="CollegeInfo.StudentPopulation.$error">
                                                                        <div ng-message="min">Please enter a number greater than 0</div>
                                                                    </div>
                                                                </md-input-container>
                                                            </md-card>

                                                    <!-- Class Size -->
                                                    <md-card class="searchPageBox">
                                                        <md-input-container class="md-block searchPageBox" flex-gt-sm>

                                                            <label>Class Size</label>
                                                            <input type="number" id="classSize" name="classSize" ng-model="parameter.ClassSize" min="0"/>
                                                            <div ng-messages="CollegeInfo.classSize.$error">
                                                                <div ng-message="min">Please enter a number greater than 0</div>
                                                            </div>

                                                        </md-input-container>
                                                    </md-card>
                                                            <md-card class="searchPageBox">
                                                                <md-checkbox ng-model="parameter.commonApplication" aria-label="Checkbox 1">
                                                                    Common Application Only
                                                                </md-checkbox>

                                                            </md-card>
                                                            <md-card class="searchPageBox" ng-show='userService.loggedIn'>
                                                                <md-checkbox ng-model="parameter.favoritedInstitutions" aria-label="Checkbox 1">
                                                                    Common Application Only
                                                                </md-checkbox>

                                                            </md-card>

                                                            <md-card class="searchPageBox" ng-show='userService.loggedIn'>
                                                                <md-checkbox ng-model="parameter.favoritedInstitutions" aria-label="Checkbox 1">
                                                                    Favorited Institutions Only
                                                                </md-checkbox>

                                                            </md-card>
                                                </div>
                                    </form>
                                </md-sidenav>

            <div class="gridOptons">   <md-input-container>
                <label>Filter</label>
                <md-select ng-model="filterOptions">
                    <md-option ng-repeat="filterOption in parameter.filterOptions" value="{{filterOption.filterOption}}">
                        {{filterOption.filterOption}}
                    </md-option>
                </md-select>
            </md-input-container>

                <md-input-container>
                    <label>Size</label>
                    <md-select ng-model="pageSize">
                        <md-option ng-repeat="pageSize in parameter.pageSizes" value="{{pageSize.pageSize}}">
                            {{pageSize.pageSize}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="navigation.html">

                </dir-pagination-controls>
            </div>

<br>
            <md-content flex layout-padding>

                <div layout="column" layout-fill layout-align="center center">
                        <div dir-paginate="college in colleges|itemsPerPage:pageSize" current-page="currentPage" ng-bind-html-unsafe="college.name" class="searchResults"  >
                           <h2> {{college.name }}</h2>
                            <div ng-if='college.address!==undefined'><p>{{college.address}}</p></div>
                            <div ng-if='college.address==undefined'> <p>Address unavailable</p></div>
                           <div ng-if='college.website!=undefined && college.phoneNumber==undefined'> {college.website}} Number Unavailable</div>
                            <div ng-if='college.website==undefined && college.phoneNumber==undefined'>Website unavailable Number Unavailable</div>
                            <div ng-if='college.website==undefined && college.phoneNumber!=undefined'>Website unavailable {{college.phoneNumber}}</div>
                            <div ng-if='college.phoneNumber!=undefined && college.website!=undefined'> {{college.website}} {{college.phoneNumber}}</div>
                            <div ng-if='college.phoneNumber==undefined'><p>Number unavailable</p></div>
                            <div ng-if='college.population!==undefined'><p>Students: {{college.population}}</p></div>
                            <div ng-if='college.population==undefined'><p>Student count unavailable</p></div>
                            <hr>
                        </div>
                </div>


    </div>
    </div>
</html>
<script>
</script>