<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1" />

    <!--load anglular js and angular material UI -->
    <link rel="stylesheet" href="assets/node_modules/angular-material/angular-material.css">

    <script src="assets/node_modules/angular/angular.js"></script>
    <script src="assets/node_modules/angular-aria/angular-aria.js"></script>
    <script src="assets/node_modules/angular-animate/angular-animate.js"></script>
    <script src="assets/node_modules/angular-material/angular-material.js"></script>
    <script src="assets/node_modules/angular-messages/angular-messages.js"></script>
    <script src="assets/node_modules/ngstorage/ngStorage.js"></script>
    <script src="assets/node_modules/angular-utils-pagination/dirPagination.js"></script>
    <!-- material design javascript -->

    <!-- load the css page for the application and corresponding page -->
    <link rel="stylesheet" href="assets/css/searchPage.css">
    <link rel="stylesheet" href="assets/css/collegeSearch.css">

    <!--load the module and config files-->
    <script src="scripts/collegeSearch.js"></script>


    <!--load the api and config files-->

    <script src="scripts/services/config.js"></script>
    <script src="scripts/services/collegeSearchapi.js"></script>
    <script src="scripts/services/userService.js"></script>
    <script src="scripts/services/searchService.js"></script>
    <script src="scripts/services/authService.js"></script>
    <script src="scripts/applicationController.js"></script>

    <!-- load the header files since the controller is on this page-->
    <script src="scripts/header/headerController.js"></script>
    <!--load the controller and corresponding scripts -->
    <script src="scripts/searchPage/searchController.js"></script>

    <script src="scripts/searchPage/searchPage.js"></script>


</head>
    <div ng-app="CollegeSearch">
        <div id="header" header></div>
            <hr>
        <div ng-viewport="main"></div>
            <div ng-controller="searchController as parameter" layout="column" ng-cloak>

                <md-content layout-padding>
                    <form name="CollegeInfo" id="additionalInfo">
                        <center><md-button class= id="searchBtn" style='text-align:center' ng-disabled="CollegeInfo.$invalid" ng-click="performSearch()">
                            Search
                        </md-button>

                            <div layout="row" layout-align="center center">
                                Explore and Enter Additional Information
                            </div>

                                <span layout="grid1" layout-align="center center" class="mobileFriendly">
                                    <md-card class="searchPageBox">
                                        <md-input-container class="md-block searchPageBox flex-gt-sm">
                                            <label>GPA (Out of 4.0}</label>
                                            <input name="gpa" ng-model="parameter.gpa">

                                        </md-input-container>
                                    </md-card>

                                    <md-card class="searchPageBox">
                                        <!-- ACT Box-->
                                        <md-input-container class="md-block searchPageBox flex-gt-sm">
                                            <label>ACT Composite Score</label>
                                            <input type="number" step="1.0" name="actcomposite" ng-model="parameter.actcomposite" min="0"
                                                   max="36" ng-pattern="/^[0-9]{1,2}$/" />
                                            <div ng-messages="CollegeInfo.actcomposite.$error" multiple md-auto-hide="false">
                                                <div ng-message="min">
                                                    You can't have a negative sore
                                                </div>
                                                <div ng-message="pattern">
                                                    You need to enter a two digit number
                                                </div>
                                                <div ng-message="max">
                                                    You can't have higher than a 36
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </md-card>

                                    <md-card class="searchPageBox">
                                        <!-- High School Percentile Box-->

                                        <md-input-container class="md-block searchPageBox" flex-gt-sm>
                                            <md-input-container>
                                                <label>High School Percentile</label>
                                                <md-select ng-model="parameter.HighSchoolPercentile">
                                                    <md-option ng-repeat="percentage in parameter.percentages" value="{{percentage.percentage}}">
                                                        {{percentage.percentage}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                        </md-input-container>
                                    </md-card>
                                </span>
            <br>

                                <span layout="grid2" layout-align="center center" class="mobileFriendly">
                                    <md-card class="searchPageBox">
                                        <!-- ACT Box-->
                                        <md-input-container class="md-block searchPageBox" flex-gt-sm>

                                            <label>Math Score</label>
                                            <input type="number" id="MathScore" name="MathScore" ng-model="parameter.MathScore" min="0"
                                                   max="800" ng-pattern="/^[0-9]{1,3}$/" *step="1.0"*/>
                                            <div ng-messages="CollegeInfo.MathScore.$error" multiple md-auto-hide="false">
                                                <div ng-message="min">
                                                    You can't have a negative sore
                                                </div>
                                                <div ng-message="pattern">
                                                    You need to enter a three digit number
                                                </div>
                                                <div ng-message="max">
                                                    You can't have higher than an 800
                                                </div>
                                            </div>
                                        </md-input-container>

                                    </md-card>
                                    <md-card class="searchPageBox">
                                        <!-- Math Score -->
                                        <md-input-container class="md-block searchPageBox" flex-gt-sm>

                                            <label>Writing Score</label>
                                            <input type="number" name="WritingScore" ng-model="parameter.WritingScore" ng-pattern="/^[0-9]{1,3}$/" min="0"
                                                   max="800" ng-pattern="/^[0-9]{1,3}$/" *step="1.0"*/>
                                            <div ng-messages="CollegeInfo.WritingScore.$error" multiple md-auto-hide="false">
                                                <div ng-message="min">
                                                    You can't have a negative sore
                                                </div>
                                                <div ng-message="pattern">
                                                    You need to enter a three digit number
                                                </div>
                                                <div ng-message="max">
                                                    You can't have higher than an 800
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </md-card>

                                    <md-card class="searchPageBox">
                                        <!-- Reading Score-->
                                        <md-input-container class="md-block searchPageBox" flex-gt-sm>

                                            <label>Reading Score</label>
                                            <input type="number" name="ReadingScore" id="ReadingScore" ng-model="parameter.ReadingScore"min="0"
                                                   max="800" ng-pattern="/^[0-9]{1,3}$/" *step="1.0"*/>
                                            <div ng-messages="CollegeInfo.ReadingScore.$error" multiple md-auto-hide="false">
                                                <div ng-message="min">
                                                    You can't have a negative sore
                                                </div>
                                                <div ng-message="pattern">
                                                    You need to enter a three digit number
                                                </div>
                                                <div ng-message="max">
                                                    You can't have higher than an 800
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </md-card>
                                </span>
                                <div layout="title2" layout-align="center center">
                                    Institution Characteristics
                                </div>
                                <span layout="grid2" layout-align="center center" class="mobileFriendly">
                                    <!-- Institution Name-->
                                    <div class="mdl-card mdl-shadow--2dp searchPageBox">

                                        <md-card class="searchPageBox">
                                            <!-- Reading Score-->
                                            <md-input-container class="md-block searchPageBox" flex-gt-sm>

                                                <label>Institution Name</label>
                                                <input type="text" id="InstitutionName" name="InstitutionName" ng-model="parameter.InstitutionName"/>

                                            </md-input-container>
                                        </md-card>

                                    </div>


                                    <!-- State Name -->
                                    <md-card class="searchPageBox">
                                        <!-- State Percentile Box-->
                                        <md-input-container>
                                            <label>State</label>
                                            <md-select ng-model="parameter.userState">
                                                <md-option ng-repeat="state in parameter.states" value="{{state.fullName}}">
                                                    {{state.fullName}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </md-card>


                                    <md-card class="searchPageBox">
                                        <!-- Zip Code-->
                                        <md-input-container class="md-block searchPageBox" flex-gt-sm>

                                            <label>Zip Code</label>
                                            <input type="text" name="zipcode" id="zipCode" ng-model="parameter.zipcode" ng-pattern="/^[0-9]{1,5}$/"/>
                                            <div ng-messages="CollegeInfo.zipcode.$error">
                                                <div ng-message="pattern">Not a valid zip code</div>
                                            </div>
                                        </md-input-container>
                                    </md-card>
                                </span>

                                <span layout="grid2" layout-align="center center" class="mobileFriendly">


                                    <md-card class="searchPageBox">
                                        <!-- Full Address-->
                                        <md-input-container class="md-block searchPageBox" flex-gt-sm>

                                            <label>Full Address</label>
                                            <input type="text" name="fullAddress" ng-model="parameter.fullAddress" id="FullAddress" ng-model="parameter.fullAddress"/>

                                        </md-input-container>
                                    </md-card>


                                    <!-- Acceptance Rate-->
                                    <md-card class="searchPageBox">
                                        <md-input-container>
                                            <label>Acceptance Rate</label>
                                        <md-select ng-model="parameter.acceptanceRate">
                                            <md-option ng-repeat="percentage in parameter.percentages" value="{{percentage.percentage}}">
                                                {{percentage.percentage}}
                                            </md-option>
                                        </md-select>
                                            </md-input-container>



                                    </md-card>
                                    <!-- Retention Rate-->
                                    <md-card class="searchPageBox">
                                        <md-input-container>
                                            <label>Retention Rate</label>
                                            <md-select ng-model="parameter.retentonRate">
                                                <md-option ng-repeat="percentage in parameter.percentages" value="{{percentage.percentage}}">
                                                    {{percentage.percentage}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </md-card>

                                </span>

                            <span layout="grid2" layout-align="center center" class="mobileFriendly">

                                <!-- Institution Type Rate -->
                                <md-card class="searchPageBox">
                                    <md-input-container>
                                        <label>Instituton Type</label>

                                    <md-select ng-model="parameter.institutionType">

                                        <md-option value="None">None</md-option>
                                        <md-option value="Public">Public</md-option>
                                        <md-option value="Private">Private</md-option>
                                    </md-select>
                                    </md-input-container>
                                </md-card>

                                <!-- Student Population -->
                                <md-card class="searchPageBox">
                                    <!-- Full Address-->
                                    <md-input-container class="md-block searchPageBox" flex-gt-sm>

                                        <label>Student Population</label>
                                        <input type="number" id="studentpopulation" name="StudentPopulation" ng-model="parameter.studentPopulation" min="0"/>
                                        <div ng-messages="CollegeInfo.studentpopulation.$error">
                                            <div ng-message="min">Please enter a number greater than 0</div>
                                        </div>
                                    </md-input-container>
                                </md-card>

                                <!-- Class Size -->
                                <md-card class="searchPageBox">
                                    <md-input-container class="md-block searchPageBox" flex-gt-sm>

                                        <label>Class Size</label>
                                        <input type="number" id="classSize" name="classSize" ng-model="parameter.classSize" min="0"/>
                                        <div ng-messages="CollegeInfo.classSize.$error">
                                            <div ng-message="min">Please enter a number greater than 0</div>
                                        </div>
                                    </md-input-container>
                                </md-card>
                            </span>
                            <div layout="title2" layout-align="center center">
                                Additional Options
                            </div>
                            <span layout="grid2" layout-align="center center" class="mobileFriendly">
                                <md-card class="searchPageBox">
                                    <md-checkbox ng-model="parameter.commonApplication" aria-label="Checkbox 1">
                                        Common Application Only
                                    </md-checkbox>

                                </md-card>
                                <md-card class="searchPageBox" ng-show='userService.loggedIn'>
                                    <md-checkbox ng-model="parameter.favoritedInstitutions" aria-label="Checkbox 1">
                                        Favorited Institutions Only
                                    </md-checkbox>

                                </md-card>

                            </span>
                        </center>
                    </form>
                </md-content>
            </div>

            <script>
            </script>
        </div>
</html>