
<link rel="stylesheet" href="css/signIn.css">



<html>
<md-content>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Sign in/Create Account</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-icon="close-box" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
        </md-toolbar>

                <md-dialog-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                                               <md-tab label="Sign In">
                                <form name="signinForm" id="Signin" class="md-dialog-content">

                                    <md-input-container class="flex-gt-sm">
                                        <!-- Email Address-->

                                        <input type="email" required class="signInText" id="emailAddress" name="emailAddress" ng-model="signIn.emailAddress"placeholder="Email Address" ng-model="resetPassword.email" ng-pattern="/^.+@.+\..+$/" />
                                        <div ng-messages="signinForm.emailAddress.$error">
                                            <div ng-message="pattern">
                                                Please enter a valid email address
                                            </div>
                                        </div>

                                    </md-input-container>
                                        <br>
                                        <md-input-container class="flex-gt-sm">
                                            <!-- GPA Box-->

                                            <input type="password" class="signInText" id="password" name="password" required placeholder="Password" ng-model="signIn.password" />

                                        </md-input-container>
                                        <br>
                                        <md-button id="resetPassword" style='text-align:center' onClick="resetPassword()">
                                            Reset Password
                                        </md-button>

                                        <br>
                                        <!-- Flat button with ripple -->
                                        <md-checkbox input type=checkbox ng-model="signIn.rememberMe" name="rememberMe" id="rememberMe" aria-label="Remember Me">
                                            Remember Me
                                        </md-checkbox>
                                    <div class='invalid' ng-show='login.failed'> {{login.message}} {{login.attempts}} attempts remaining</div>
                                        <br>
                                        <!-- Flat button with ripple -->
                                        <md-button class= id="signIn" ng-disabled="signinForm.$invalid" style='text-align:center' ng-click="signIn()">
                                            Sign In
                                        </md-button>

                                    <md-progress-circular class="md-hue-2 md-busy" ng-show="login.loading" md-mode="indeterminate" style="margin:auto"></md-progress-circular>
                                </form>

                        </md-tab>
                        <md-tab label="Create Account ">
                                                <div class="md-dialog-content">
                                                    <div ng-show="userService.failed()"></div>
                                                    <div id="search" flex="80"search></div>

                                                    <form name="createAccountform">
                                                                    <md-input-container flex-gt-sm class="signInDialog">
                                                                        <!--  Name -->

                                                                        <input type="text" class="signInText" id="fullName" name="fullName" placeholder="Name" required ng-model="createAccount.fullName"/>
                                                                            <span ng-show="createAccountform.fullName.$error.maxLength">
                                                                                  Please enter less than 55 characters
                                                                               </span>
                                                                    </md-input-container>
                                                                    <md-input-container flex-gt-sm class="signInDialog">
                                                                        <!--  Email Address-->

                                                                        <input type="text" class="signInText" id="emailCreation" name="email" placeholder="Enter an email Address" required ng-model="createAccount.email" ng-pattern="/^.+@.+\..+$/"/>
                                                                        <div ng-messages="createAccountform.emailAddress.$error">
                                                                            <div ng-message="pattern">
                                                                                Please enter a valid email address
                                                                            </div>
                                                                        </div>
                                                                    </md-input-container>
                                                                <br>
                                                                    <md-input-container flex-gt-sm class="signInDialog">
                                                                        <!-- GPA Box-->

                                                                        <input type="text" class="signInText" id="passwordCreation" required name="password" placeholder="Enter a password"  ng-model="createAccount.password" ng-required/>

                                                                    </md-input-container>
                                                                <br>
                                                                    <md-input-container class="signInText "flex-gt-sm>
                                                                        <!-- GPA Box-->
                                                                        <input type="text" class="signInText" id="verifyPasswordCreation" required name="verifyPassword" required placeholder="Verify Password" ng-model="createAccount.verifyPassword" required/>
                                                                   </md-input-container>
                                                                    <div class="msg-block" ng-show="myForm.$error">
                                                                   </div>
                                                                <br>
                                                                <!-- Flat button with ripple -->

                                                                <br>
                                                                <!-- Flat button with ripple -->
                                                                    <md-button class= id="searchBtn" ng-disabled="createAccountform.$invalid" style='text-align:center' ng-click="createAccount()">
                                                                        Create Account
                                                                    </md-button>
                                                            </form>

                                                            </div>
                                                        </md-tab>
                        </md-tabs>
                    </md-dialog-content>
</md-content>
</html>