
<!DOCTYPE html>
<html ng-app="CollegeSearch">
<head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1" />

    <!--load anglular js and angular material UI -->
    <link rel="stylesheet" href="assets/node_modules/angular-material/angular-material.css">

    <script src="assets/node_modules/angular/angular.js"></script>
    <script src="assets/node_modules/angular-aria/angular-aria.js"></script>
    <script src="assets/node_modules/angular-animate/angular-animate.js"></script>
    <script src="assets/node_modules/angular-material/angular-material.js"></script>
    <script src="assets/node_modules/angular-messages/angular-messages.js"></script>
    <script src="assets/node_modules/ngstorage/ngStorage.js"></script>
    <script src="assets/node_modules/angular-utils-pagination/dirPagination.js"></script>
    <script src="assets/node_modules/angular-route/angular-route.js"></script>
    <script src="assets/jQuery/jquery-1.11.3.min.js"></script>
    <!-- material design javascript -->

    <!-- load the css page for the application and corresponding page -->
    <link rel="stylesheet" href="assets/css/userPreferences.css">
    <link rel="stylesheet" href="assets/css/collegeSearch.css">

    <!--load the module and config files-->
    <script src="scripts/collegeSearch.js"></script>

    <!--load the api and config files-->

    <script src="scripts/services/config.js"></script>
    <script src="scripts/services/collegeSearchapi.js"></script>
    <script src="scripts/services/userService.js"></script>
    <script src="scripts/services/searchService.js"></script>
    <script src="scripts/services/navigationService.js"></script>

    <!-- load the header files since the controller is on this page-->
    <script src="scripts/header/headerController.js"></script>
    <!--load the controller and corresponding scripts -->
    <script src="scripts/userPreferences/userPreferencesController.js"></script>


    <script src="scripts/userPreferences/userPreferencesController.js"></script>
    <script src="scripts/searchPage/gpaController.js"></script>
    <script src="scripts/searchPage/searchPage.js"></script>

</head>
<div id="header" header></div>

<div ng-controller="userPreferencesController as parameter" layout="column" ng-cloak>

    <br>
    <md-content flex layout-padding>
    <form name="CollegeInfo">
        <center>
            <div layout="row" layout-align="center center" class="searchLabel searchHeader">
               Personal settings
            </div>
            <br>
            <br>
           <span layout="grid1" layout-wrap layout-align="center center">
                                           <div class="searchPageBox" flex="20">
                                               <!-- GPA Box-->
                                               <md-input-container class="md-block searchPageBox" flex-gt-sm>
                                                   <label class="searchLabel">GPA (Out of 4.0)</label>
                                                   <input type="number" name="gpa" ng-model="parameter.gpa" min="0" max="4.0"ng-pattern="/^\d{0,3}(\.\d{1,2})?$/" >
                                                   <div ng-messages="CollegeInfo.gpa.$error" multiple md-auto-hide="false">
                                                       <div ng-message="min">
                                                           You can't have a negative sore
                                                       </div>
                                                       <div ng-message="pattern">
                                                           You need to enter a gpa in the range of #.##
                                                       </div>
                                                       <div ng-message="max">
                                                           You can't have higher than a 4.0
                                                       </div>
                                                   </div>
                                               </md-input-container>
                                           </div>
                                           <div class="searchPageBox" flex="20">
                                               <!-- ACT Box-->
                                               <md-input-container class="md-block searchPageBox" flex-gt-sm>
                                                   <label class="searchLabel">ACT Composite Score</label>
                                                   <input type="number" step="1.0" name="actcomposite" ng-model="parameter.actcomposite" min="0"
                                                          max="36" ng-pattern="/^[0-9]{1,2}$/" />
                                                   <div ng-messages="CollegeInfo.actcomposite.$error" multiple md-auto-hide="false">
                                                       <div ng-message="min">
                                                           You can't have a negative sore
                                                       </div>
                                                       <div ng-message="pattern">
                                                           You need to enter a two digit number
                                                       </div>
                                                       <div ng-message="max">
                                                           You can't have higher than a 36
                                                       </div>
                                                   </div>
                                               </md-input-container>
                                           </div>
               <!-- High School Percentile Box-->

                                           <div class="searchPageBox" flex="20">
                                               <!-- Zip Code-->
                                               <md-input-container class="md-block searchPageBox" flex-gt-sm>
                                                   <label class="searchLabel">Zip Code</label>
                                                   <input type="text" name="zipcode" ng-model="parameter.zipcode"ng-pattern="/^[0-9]{1,5}$/" >
                                                   <div ng-messages="CollegeInfo.zipcode.$error">
                                                       <div ng-message="pattern">Not a valid zip code</div>
                                                   </div>
                                               </md-input-container>
                                           </div>


                                             <div class="searchPageBox" flex="20">
                                                 <!-- Math Score Box-->
                                                 <md-input-container class="md-block searchPageBox" flex-gt-sm>
                                                     <label class="searchLabel">SAT Math Score</label>
                                                     <input type="number" step="1.0" name="MathScore" ng-model="parameter.MathScore" min="0"
                                                            max="800" ng-pattern="/^[0-9]{1,3}$/" *step="1.0"*  min="200" />
                                                     <div ng-messages="CollegeInfo.MathScore.$error" multiple md-auto-hide="false">
                                                         <div ng-message="min">
                                                             You can't have a negative sore
                                                         </div>
                                                         <div ng-message="pattern">
                                                             You need to enter a three digit number
                                                         </div>
                                                         <div ng-message="max">
                                                             You can't have higher than an 800
                                                         </div>
                                                     </div>
                                                 </md-input-container>
                                             </div>


                                      <div class="searchPageBox" flex="20">
                                          <!-- Writing Box-->
                                          <md-input-container class="md-block searchPageBox" flex-gt-sm>

                                              <label class="searchLabel">SAT Writing Score</label>
                                              <input type="number" name="WritingScore" ng-model="parameter.WritingScore" ng-pattern="/^[0-9]{1,3}$/" min="0"
                                                     max="800" ng-pattern="/^[0-9]{1,3}$/" *step="1.0"* min="200"/>
                                              <div ng-messages="CollegeInfo.WritingScore.$error" multiple md-auto-hide="false">
                                                  <div ng-message="min">
                                                      You can't have a negative sore
                                                  </div>
                                                  <div ng-message="pattern">
                                                      You need to enter a three digit number
                                                  </div>
                                                  <div ng-message="max">
                                                      You can't have higher than an 800
                                                  </div>
                                              </div>
                                          </md-input-container>
                                      </div>
                            <div class="searchPageBox" flex="20">
                                <!-- Reading Score-->
                                <md-input-container class="md-block searchPageBox" flex-gt-sm>

                                    <label class="searchLabel">SAT Reading Score</label>
                                    <input type="number" name="ReadingScore" id="ReadingScore" ng-model="parameter.ReadingScore"min="0"
                                           max="800" ng-pattern="/^[0-9]{1,3}$/" *step="1.0"* min="200"/>
                                    <div ng-messages="CollegeInfo.ReadingScore.$error" multiple md-auto-hide="false">
                                        <div ng-message="min">
                                            You can't have a negative sore
                                        </div>
                                        <div ng-message="pattern">
                                            You need to enter a three digit number
                                        </div>
                                        <div ng-message="max">
                                            You can't have higher than an 800
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                                </span>
            </center>
    </form>
            <br>
            <br>
<span layout="grid1" layout-wrap layout-align="center center" class="mobileFriendly">


                                       <div class="searchPageBox" flex="20">
                                           <!-- State-->
                                           <md-input-container class="searchPageBox">
                                               <label style="color:white !important;">State</label>
                                               <md-select class="searchLabel" ng-model="parameter.stateName">
                                                   <md-option ng-repeat="state in parameter.states" value="{{state.fullName}}">
                                                       {{state.fullName}}
                                                   </md-option>
                                               </md-select>
                                           </md-input-container>
                                       </div>

    </span>

        <md-button class="md-raised" id="save" style="width:50px" ng-disabled="CollegeInfo.$invalid" ng-click="saveConfirm()">
            Save
            <md-tooltip md-direction="right">
                Click to Save user preferences
            </md-tooltip></md-button>
        </md-button>
        <md-button  class="md-raised" style="width:50px" ng-click="UndoChanges()">UNDO
            <md-tooltip md-direction="right">
                Click to undo preferences modification
            </md-tooltip></md-button></md-button>
        <br>
        <br>
        <br>
        <div>
        <span class="preferencesTitle">Favorites</span>
            <br>
        <hr class="preferencesHeader">
            <br>
            <br>
        <a href="" ng-click="getFavorites()">Click to view favorites</a>
        <br>
        </div>
        <div>
            <br>
            <br>
            <span class="preferencesTitle">Email Report </span>
            <br>
                <hr class="preferencesHeader">
            <br>
                Email a list of your favorite institutions to your email address on file.
            <br>
            <md-button class="md-raised" ng-click="emailFavorites()">Email</md-button>
        </div>
        <br>
        <div>
            <spcan class="preferencesTitle">Delete Account</spcan>
            <br>
            <hr class="preferencesHeader">
            <br>
            I understand that deleted accounts are not recoverable
            <br>
            <md-button class="md-raised" style='float:left' ng-click="deleteConfirmation()">
                Delete
            </md-button>
        </div>

</md-content>
</div>


<script>
</script>
</html><!DOCTYPE html>
