
<!DOCTYPE html>
<html ng-app="CollegeSearch">
<head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1" />

    <!--load anglular js and angular material UI -->
    <link rel="stylesheet" href="assets/node_modules/angular-material/angular-material.css">

    <script src="assets/node_modules/angular/angular.js"></script>
    <script src="assets/node_modules/angular-aria/angular-aria.js"></script>
    <script src="assets/node_modules/angular-animate/angular-animate.js"></script>
    <script src="assets/node_modules/angular-material/angular-material.js"></script>
    <script src="assets/node_modules/angular-messages/angular-messages.js"></script>
    <script src="assets/node_modules/ngstorage/ngStorage.js"></script>
    <script src="assets/node_modules/angular-utils-pagination/dirPagination.js"></script>
    <script src="assets/node_modules/angular-route/angular-route.js"></script>
    <script src="assets/jQuery/jquery-1.11.3.min.js"></script>
    <!-- material design javascript -->

    <!-- load the css page for the application and corresponding page -->
    <link rel="stylesheet" href="assets/css/userPreferences.css">
    <link rel="stylesheet" href="assets/css/collegeSearch.css">

    <!--load the module and config files-->
    <script src="scripts/collegeSearch.js"></script>

    <!--load the api and config files-->

    <script src="scripts/services/config.js"></script>
    <script src="scripts/services/collegeSearchapi.js"></script>
    <script src="scripts/services/userService.js"></script>
    <script src="scripts/services/searchService.js"></script>
    <script src="scripts/services/navigationService.js"></script>

    <!-- load the header files since the controller is on this page-->
    <script src="scripts/header/headerController.js"></script>
    <!--load the controller and corresponding scripts -->
    <script src="scripts/userPreferences/userPreferencesController.js"></script>


    <script src="scripts/userPreferences/userPreferencesController.js"></script>
    <script src="scripts/searchPage/gpaController.js"></script>
    <script src="scripts/searchPage/searchPage.js"></script>

</head>
<div id="header" header></div>

<div ng-controller="userPreferencesController as parameter" layout="column" ng-cloak class="listdemoBasicUsage">

    <br>
    <div flex-gt-sm="50" flex="">

        <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
                <span>{{pageTitle}}</span>
            </div>
        </md-toolbar>
        </div>
            <br>
            <br>
        <div id="preferences" flex="80"preferences></div>

        <md-button class="md-raised" id="save" style="width:50px" ng-disabled="CollegeInfo.$invalid" ng-click="saveConfirm()">
            Save
            <md-tooltip md-direction="right">
                Click to Save user preferences
            </md-tooltip></md-button>


        </md-button>
        <md-button  class="md-raised" style="width:50px" ng-click="UndoChanges()" ng-disabled="CollegeInfo.$invalid">UNDO
            <md-tooltip md-direction="right">
                Click to undo preferences modification
            </md-tooltip></md-button></md-button>
        <br>
        <br>
        <br>
        <div>
        <span class="preferencesTitle">Favorites</span>
            <br>
        <hr class="preferencesHeader">
            <br>
            <br>
        <a href="" ng-click="getFavorites()">Click to view favorites</a>
        <br>
        </div>
        <div>
            <br>
            <br>
            <span class="preferencesTitle">Email Report </span>
            <br>
                <hr class="preferencesHeader">
            <br>
                Email a list of your favorite institutions to your email address on file.
            <br>
            <md-button class="md-raised" ng-click="emailFavorites()">Email</md-button>
        </div>
        <br>
        <div>
            <spcan class="preferencesTitle">Delete Account</spcan>
            <br>
            <hr class="preferencesHeader">
            <br>
            I understand that deleted accounts are not recoverable
            <br>
            <md-button class="md-raised" style='float:left' ng-click="deleteConfirmation()">
                Delete
            </md-button>
        </div>

</md-content>
</div>


<script>
</script>
</html><!DOCTYPE html>
