
#title {
	text-align: center;
}
.searchCard.mdl-card {
	width: 150px;
	height: 40px;
}

#accountCreation {
	float: right;
	margin-top: 25px;
	margin-right: 20px;
	position: relative;
}
#collegeSearchicon {
	float: left;
	top: 0px;
	margin-left: 20px;
	width: 150px;
	height: 100px;
	position: relative;
}
#header {
	position:relative;
	height: 100px;
}
.dialogSignIn {
	width: 400px;
}
.signInDialog {
	margin: 2px 0 !important;
}
.invalid {
	color: red;
}