.searchLabel {
    float: right;
    margin-top: 25px;
    margin-right: 20px;
    position: relative;
    font-size: 16px;
    font-weight: bold;
}

.title_searchOption {
    float: right;
    margin-right: 20px;
    font-weight: bold;
    font-size: 15px;
}
.textField {
    margin-top: -40px;
}
.searchPageBox {
    width: 200px;
    height: 120px;
    margin-right: 100px;
    text-align: center;
}

.sideNavResult {
    width: 225px;
    margin-top: 110px;
    position: fixed;
}
.searchResults {
    margin-left: 75px;
}
.refineButton {
    margin-left: 75px;
}