

.title_searchOption {
	float: right;
	margin-right: 20px;
	font-weight: bold;
	font-size: 15px;
}
.textField {
	margin-top: -40px;
}
.searchPageBox {
	width: 200px;
	height: 100px;
	margin-right: 100px;
	text-align: center;
	max-width: 100%;
	margin-top: 10px;
	min-width: 20%;
	font-color: white;
}
#additionalInfo {
	background: gray;
}
.md-input-container.md-default-theme .md-input, .md-input-container .md-input {
	color: white !important;
}

.searchButton {
	background-color: white !important;
	color:black !important;
}
#searchOptions {
	text-align: center;
}
.searchLabel {
	color: white !important;
}
.md-checkbox .md-icon {
	border-color: white !important;
}

.md-select span {
	color: white !important;
}
.md-select-value.md-select-placeholder {
	color: white !important;
}
.gpaConverter {
	visibility: hidden;
}

@media only screen and (max-device-width: 480px) {
	.searchPageBox {
		width: 150px;
		height: 100px;
		margin-right: 20px;
		text-align: center;
		max-width: 100%;
		margin-top: 10px;
		min-width: 80%;
	}
}