

.title_searchOption {
    float: right;
    margin-right: 20px;
    font-weight: bold;
    font-size: 15px;
}
.textField {
    margin-top: -40px;
}
.searchPageBox {
    width: 200px;
    height: 45px;
    margin-right: 5px;
    margin-top: 0px;
    text-align: center;
}

.sideNavResult {
    width: 225px;
    margin-top: 110px;
    position: fixed;
}
.searchResults {
    margin-left: 75px;
    text-align: center
}
.collegeInfo {
    float: left;
}
.favoriteButton {
    float: right;
}
.refineButton {
    margin-left: 75px;
}
.resultsGrid {
    width: 500px;
    height: 250px;
}
.gridOptons {
    float: right;
    margin-right: 20px;
}
.searchButton {
    float: left;
}
.sideBarLabel{
    text-align: center;
    margin-left: 100px;
    margin-top:5px;
    margin-bottom:5px;
}
.collegeLabel {
    font-family: 'Roboto', sans-serif;
}
.gpaConverter {
    visibility: hidden;
}