#signIn {
    width:200px;
    float:left;
    margin-left: 10px
}
#wrapper {

    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    clear:both;
    background: #FFFFFF;
}
#createAccount {
    width:200px;
    float:left;
    margin-right: 10px;
}
#loginModalContent {
    background: #FFFFFF;
    height: 400px;
    width: 500px;
}
.verticalLine {
    width: 3px; /* Line width */
    background-color: black; /* Line color */
    height: 90%; /* Override in-line if you want specific height. */
    float: left;
    /* Causes the line to float to left of content.
       You can instead use position:absolute or display:inline-block
       if this fits better with your design */
}

.signInText {

}