
<span layout="grid1" layout-wrap layout-align="center center">
                                           <div class="searchPageBox" flex="20">
                                               <!-- GPA Box-->
                                               <md-input-container class="md-block searchPageBox" flex-gt-sm>
                                            <label class="searchLabel">GPA (Out of 4.0)</label>
                                            <input type="number" class="searchParameterColor" name="gpa" ng-model="parameter.GPAvalue" min="0" max="4.0"ng-pattern="/^\d{0,3}(\.\d{1,2})?$/" >
                                                   <div ng-messages="CollegeInfo.GPAvalue.$error" multiple md-auto-hide="false">
                                                       <div ng-message="min">
                                                           You can't have a negative sore
                                                       </div>
                                                       <div ng-message="pattern">
                                                           You need to enter a gpa in the range of #.##
                                                       </div>
                                                       <div ng-message="max">
                                                           You can't have higher than a 4.0
                                                       </div>
                                                   </div>
                                            <md-button class="md-raised gpaConverter" style='text-align:center;'  ng-click="convertGPA()">
                                                GPA Converter
                                            </md-button>
                                        </md-input-container>
                                               </div>
                                           <div class="searchPageBox" flex="20">
                                               <!-- ACT Box-->
                                               <md-input-container class="md-block searchPageBox" flex-gt-sm>
                                            <label class="searchLabel">ACT Composite Score</label>
                                            <input type="number" class="searchParameterColor" step="1.0" name="ACTScore" ng-model="parameter.ACTScore" min="0"
                                                   max="36" ng-pattern="/^[0-9]{1,2}$/" />
                                            <div ng-messages="CollegeInfo.ACTScore.$error" multiple md-auto-hide="false">
                                                <div ng-message="min">
                                                    You can't have a negative sore
                                                </div>
                                                <div ng-message="pattern">
                                                    You need to enter a two digit number
                                                </div>
                                                <div ng-message="max">
                                                    You can't have higher than a 36
                                                </div>
                                            </div>
                                        </md-input-container>
                                               </div>
                                        <!-- High School Percentile Box-->

                                             <div class="searchPageBox" flex="20">
                                                 <md-input-container class="searchPageBox">
                                                     <label class="searchLabel">High School Percentile</label>
                                                     <md-select class="searchLabel" placeholder="High School Percentile" ng-model="parameter.HighSchoolPercentile">
                                                         <md-option ng-repeat="percentage in parameter.percentages" value="{{percentage.percentage}}">
                                                             {{percentage.percentage}}
                                                         </md-option>
                                                     </md-select>
                                                 </md-input-container>
                                             </div>

                                             <div class="searchPageBox" flex="20">
                                                 <!-- Math Score Box-->
                                                 <md-input-container class="md-block searchPageBox" flex-gt-sm>
                                                     <label class="searchLabel">SAT Math Score</label>
                                                     <input type="number" class="searchParameterColor" step="1.0" name="MathScore" ng-model="parameter.MathScore" min="0"
                                                            max="800" ng-pattern="/^[0-9]{1,3}$/" *step="1.0"*  min="200" />
                                                     <div ng-messages="CollegeInfo.MathScore.$error" multiple md-auto-hide="false">
                                                         <div ng-message="min">
                                                             You can't have a negative sore
                                                         </div>
                                                         <div ng-message="pattern">
                                                             You need to enter a three digit number
                                                         </div>
                                                         <div ng-message="max">
                                                             You can't have higher than an 800
                                                         </div>
                                                         </div>
                                                 </md-input-container>
                                             </div>


                                      <div class="searchPageBox" flex="20">
                                          <!-- Writing Box-->
                                          <md-input-container class="md-block searchPageBox" flex-gt-sm>

                                            <label class="searchLabel">SAT Writing Score</label>
                                            <input type="number" class="searchParameterColor"  name="WritingScore" ng-model="parameter.WritingScore" ng-pattern="/^[0-9]{1,3}$/" min="0"
                                                   max="800" ng-pattern="/^[0-9]{1,3}$/" *step="1.0"* min="200"/>
                                            <div ng-messages="CollegeInfo.WritingScore.$error" multiple md-auto-hide="false">
                                                <div ng-message="min">
                                                    You can't have a negative sore
                                                </div>
                                                <div ng-message="pattern">
                                                    You need to enter a three digit number
                                                </div>
                                                <div ng-message="max">
                                                    You can't have higher than an 800
                                                </div>
                                            </div>
                                        </md-input-container>
                                            </div>
                            <div class="searchPageBox" flex="20">
                                        <!-- Reading Score-->
                                        <md-input-container class="md-block searchPageBox" flex-gt-sm>

                                            <label class="searchLabel">SAT Reading Score</label>
                                            <input type="number" class="searchParameterColor"  name="ReadingScore" id="ReadingScore" ng-model="parameter.ReadingScore"min="0"
                                                   max="800" ng-pattern="/^[0-9]{1,3}$/" *step="1.0"* min="200"/>
                                            <div ng-messages="CollegeInfo.ReadingScore.$error" multiple md-auto-hide="false">
                                                <div ng-message="min">
                                                    You can't have a negative sore
                                                </div>
                                                <div ng-message="pattern">
                                                    You need to enter a three digit number
                                                </div>
                                                <div ng-message="max">
                                                    You can't have higher than an 800
                                                </div>
                                            </div>
                                        </md-input-container>
                                </div>
                                </span>
<br>
<div layout="title2" layout-align="center center" class="sideBarLabel searchHeader searchLabel" style="text-decoration:underline;">
    Personal Preferences
</div>
<br>
<span layout="grid1" layout-wrap layout-align="center center" class="mobileFriendly">
                                    <!-- Institution Name-->
                                    <div class="searchPageBox" flex="20">

                                            <md-input-container class="md-block searchPageBox" flex-gt-sm>

                                                <label class="searchLabel">Institution Name</label>
                                                <input type="text" class="searchParameterColor"  id="InstitutionName" name="InstitutionName" ng-model="parameter.InstitutionName"/>

                                            </md-input-container>

                                    </div>


                                       <div class="searchPageBox" flex="20">
                                           <!-- State-->
                                           <md-input-container class="searchPageBox">
                                               <label class="searchLabel">State</label>
                                               <md-select class="searchLabel" ng-model="parameter.stateName">
                                                   <md-option ng-repeat="state in parameter.states" value="{{state.fullName}}">
                                                       {{state.fullName}}
                                                   </md-option>
                                               </md-select>
                                           </md-input-container>
                                       </div>

                                              <div class="searchPageBox" flex="20">
                                                  <!-- Zip Code-->
                                                  <md-input-container class="md-block searchPageBox" flex-gt-sm>
                                                      <label class="searchLabel">Zip Code</label>
                                                      <input type="number" class="searchParameterColor" name="zipCode" ng-model="parameter.zipCode"ng-pattern="/^[0-9]{1,5}$/" >
                                                      <div ng-messages="CollegeInfo.zipCode.$error">
                                                          <div ng-message="pattern">Not a valid zip code</div>
                                                      </div>
                                                  </md-input-container>
                                              </div>

                                              <div class="searchPageBox" flex="20">
                                                  <!-- Full Address-->
                                                  <md-input-container class="md-block searchPageBox" flex-gt-sm>
                                                      <label class="searchLabel">Full Address</label>
                                                      <input type="text" class="searchParameterColor" name="fullAddress" ng-model="parameter.fullAddress">
                                                  </md-input-container>
                                              </div>

                             <!-- Acceptance Rate-->
                                  <div class="searchPageBox" flex="20">
                                        <md-input-container class="searchPageBox">
                                            <label class="searchLabel">Acceptance Rate</label>
                                            <md-select class="searchLabel" ng-model="parameter.acceptanceRate">
                                                <md-option ng-repeat="percentage in parameter.percentages" value="{{percentage.percentage}}">
                                                    {{percentage.percentage}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>

                                      </div>

                                             <div class="searchPageBox" flex="20">
                                                 <!-- Retention Rate-->
                                                 <md-input-container class="searchPageBox">
                                                     <label class="searchLabel">Retention Rate</label>
                                                     <md-select class="searchLabel" ng-model="parameter.retentionRate">
                                                         <md-option ng-repeat="percentage in parameter.percentages" value="{{percentage.percentage}}">
                                                             {{percentage.percentage}}
                                                         </md-option>
                                                     </md-select>
                                                 </md-input-container>
                                             </div>

                            <!-- Institution Type -->
                                  <div class="searchPageBox" flex="20">
                                    <md-input-container class="searchPageBox">
                                        <label class="searchLabel">Institution Type</label>

                                        <md-select class="searchLabel" ng-model="parameter.institutionType">

                                            <md-option value="None">None</md-option>
                                            <md-option value="Public">Public</md-option>
                                            <md-option value="Private">Private</md-option>
                                        </md-select>
                                    </md-input-container>
                            </div>
 <div class="searchPageBox" flex="20">
                                <md-input-container class="searchPageBox">
                                    <label class="searchLabel">Student Population</label>
                                    <md-select class="searchLabel" ng-model="parameter.studentPopulation">
                                        <md-option ng-repeat="population in parameter.population" value="{{population.population}}">
                                            {{population.population}}
                                        </md-option>
                                    </md-select>
                                  </md-input-container>
</div>
     <div class="searchPageBox" flex="20">
                                      <md-input-container class="searchPageBox">
                                          <label class="searchLabel">Average Class Size</label>
                                          <md-select class="searchLabel" ng-model="parameter.averageClassSize">
                                              <md-option ng-repeat="classSize in parameter.classSize" value="{{classSize.classSize}}">
                                                  {{classSize.classSize}}
                                              </md-option>
                                          </md-select>
                                      </md-input-container>
     </div>
                            </span>

<br>

<div layout="title2" layout-align="center center" class="sideBarLabel searchHeader preferences searchLabel">
    Additional Options
</div>
            <span layout="grid1" layout-wrap layout-align="center center" style=>

                                    <div class="searchPageBox preferences" flex="20">
                                    <md-checkbox ng-model="parameter.commonApplication" class="searchLabel" aria-label="Checkbox 1">
                                        Common Application Only
                                    </md-checkbox>

                                        </div>
                                        <div class="searchPageBox preferences favoritesCheckBox" flex="20" ng-show='user.loggedIn'>
                                    <md-checkbox ng-model="parameter.favoritedInstitutions" class="searchLabel" aria-label="Checkbox 2">
                                        Favorited Institutions Only
                                    </md-checkbox>
                                    </div>
                            </span>